{% if name == "base" %}

target "{{ name }}" {
  context = {{ build_context }}
}

{% else %}

target "{{ name }}" {
  tags = {{ tags }}
  context = {{ build_context }}
  contexts = {
    baseapp = "target:{{ parent_name }}"
  }
}

{% endif %}
